$primary-color: #FF8800;
$primary-disabled-color: #FF8800AA;
$secondary-color: #FFFFFF;
$secondary-disabled-color: #FFFFFF55;
$error-color: #FF3300;
$bg-color-primary: #000000EE;
$bg-color-table-item-odd: #181818EE;
$bg-color-table-item-even: #202020EE;

.button {
  background: $bg-color-primary;
  color: $primary-color;
  border-color: $primary-color;
}

.button.cancel {
  border-color: $error-color;
  color: $error-color;
}

.button:hover {
  border-color: $secondary-color;
  color: $secondary-color;
  box-shadow: none;
}

.button:active {
  border-color: $secondary-color;
  color: $primary-color;
  box-shadow: none;
  scale: 0.98;
}

.button:focus {
  border-color: $primary-color;
  color: $primary-color;
  box-shadow: none;
}

.button.icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}