@import "../node_modules/@gerark/just-svelte-lib/dist/styles/themes/crimson.scss";
@import "../node_modules/@gerark/just-svelte-lib/dist/styles/themes/dark-juice.scss";
@import "../node_modules/@gerark/just-svelte-lib/dist/styles/themes/dust.scss";

.configuration-window {
  background: var(--tjust-bg-color);

  .window-header {
    border: none;
  }

  .window-content {
    padding: 0;
    background: var(--tjust-bg-color);
    overflow-y: clip;
  }
}

.selection-window {
  background: var(--tjust-bg-color);

  .window-header {
    border: none;
  }

  .window-content {
    padding: 0;
    background: var(--tjust-bg-color);
    overflow-y: clip;
  }
}

.stat-item {
  color: var(--tjust-on-surface);
  font-family: var(--tjust-font-family);
  font-size: var(--tjust-font-size-2xs);
}